@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url(/assets/font/plus-jakarta-sans-500.woff2) format("woff2");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  color-scheme: light dark;

  --blue: #3BC4AB;
  --blue-highlight: #43DABE;
  --orange: #FFC66B;
  --red: #FF6B6B;
  --gray: #1D1D1D;
  --light-gray: #888888;
  --white: #FFFFFF;

  --inner-shadow: 0 2px 12px rgba(0,0,0,0.3) inset;
  --switch-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/* global styles */

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3 { 
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  margin: 0;
  color: var(--gray);
}
h1 { font-size: 4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.2rem; }

.base-text {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: var(--gray);
}
.subtext {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--light-gray);
}
.blue {
  color: var(--blue);
}


/* buttons and inputs */

button { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--blue);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  color: var(--white);
  transition: background-color 100ms;
}
button.delete {
  background-color: var(--light-gray);
}
button:hover, 
button:focus-visible {
  background-color: var(--blue-highlight);
}
button.delete:hover, 
button.delete:focus-visible {
  background-color: var(--red);
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}


input[type="text"] { /* new website input box */
  height: 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 200px;
  padding: 0 0.5rem;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background-color: var(--white);
  color: var(--gray);
}
input[type="text"]::placeholder {
  color: var(--light-gray);
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
  border: 1px solid var(--blue);
}

/* toggle switch checkbox input */
label.toggle-switch { /* wrapper */
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
  margin-right: 24px; /* 80px width total */
}
label.toggle-switch input[type="checkbox"] { /* hide checkbox */
  width: 0;
  height: 0;
  opacity: 0;
}
.toggle-switch .switch-slider { /* slider-track */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  box-shadow: var(--inner-shadow);
  border-radius: 16px;
  overflow: hidden;
  transition: background-color 100ms;
}
.switch-slider:before { /* slider-thumb */
  position: absolute;
  content: "";
  height: 24px;
  border-radius: 12px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  box-shadow: var(--switch-shadow);
  transition: transform 100ms;
}
.toggle-switch input:checked + .switch-slider {
  background-color: var(--blue-highlight);
}

.toggle-switch input:focus-visible + .switch-slider {
  background-color: var(--blue-highlight);
  outline: 1px solid black;
}

.toggle-switch input:checked + .switch-slider:before {
  transform: translateX(24px);
}

ul { /* used for site lists */
  list-style: none; 
  padding: 0; 
  margin: 0;
}

/*************************/
/*   Dashboard Styles    */
/*************************/
.dashboard-wrap {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
/* blue header bar */
.dash-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem 2rem;
  background-color: var(--blue);
}
.dash-header h2 {
  color: var(--white);
}
.dash-header svg {
  width: 32px;
  transform: rotate(180deg);
}
/* settings content */
.dash-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}
/* individual sections */
.dash-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.dash-section p {
  margin: 0.5rem 0 0.5rem 1rem;
}
.section-title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.section-title .line {
  position: relative;
  top: 2px;
  height: 1px;
  opacity: 0.5;
  flex-grow: 1;
  background-color: var(--blue);
}
/* add new section */
.add-new-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

/* limits section */
.dash-section ul {
  margin-left: 1rem;
}
.dashboard-wrap li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
.list-headers {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
span.site-name {
  width: 200px;
}
span.limit-text {
  width: 100px;
}
span.peek-text {
  width: 80px;
}
span.time-left {
  width: 80px;
}

select { /* time limit selectors */
  height: 32px;
  border-radius: 8px;
  width: 100px;
  padding-left: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--light-gray);
  background-color: var(--white);
}

/* peek mode section */
.peek-wrap {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* schedule section */

.schedule-row {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}
.schedule-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.day-toggles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  padding: 4px;
  border-radius: 8px;
  height: 24px;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: var(--inner-shadow);
}

.day-toggles > label {
  display: flex;
  height: 24px;
}
.day-toggles > label input[type="checkbox"] { /* hide checkbox */
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.day-toggles > label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 24px;
  background-color: var(--white);
  box-shadow: var(--switch-shadow);
  border-radius: 5px;
  cursor: pointer;
  transition: 
    background-color 100ms,
    box-shadow 100ms,
    color 100ms;
}
.day-toggles > label input:checked + span {
  background-color: var(--blue-highlight);
  color: var(--white);
  box-shadow: var(--inner-shadow);
}

.day-toggles > label input:focus-visible + span {
  outline: 1px solid black;
}

.times-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/*************************/
/*     Popup Styles      */
/*************************/

.popup-header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}
.popup-header h3 {
  color: var(--white);
}

.popup-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 180px;
  background-color: var(--white);
}
.popup-content ul li {
  display: flex;
  justify-content: space-between;
}

/*************************/
/* Blocked Screen Styles */
/*************************/

.blocked-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  background: var(--blue);
  gap: 1rem;
}
.blocked-wrap svg {
  width: 150px;
  height: 150px;
}
.blocked-wrap h1, .blocked-wrap h2 {
  color: var(--white);
}