@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/font/plus-jakarta-sans-500.woff2) format("woff2");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark; /* for bg change */

  --blue: #3BC4AB;
  --blue-highlight: #43DABE;
  --orange: #FFC66B;
  --red: #FF6B6B;
  
  --text: #1D1D1D;
  --gray: #939393;
  --bg: #FFFFFF;

  --duration: 150ms;

  --base-shadow: 0 2px 12px rgba(0,0,0,0.3);
  --switch-shadow: 0 2px 4px rgba(0,0,0,0.3);
  --button-shadow: 0 1px 4px rgba(0,0,0,0.2);
}


/*****************/

/* global styles */

/*****************/

html {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: var(--gray);
}
body {
  padding: 0;
  margin: 0;
}

h1, h2, h3, .base-text, .subtext, button, input {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
}
h1, h2, h3 { 
  margin: 0;
  color: var(--text);
}
h1 { font-size: 4rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.2rem; }

a, a:visited {
  color: var(--text);
}

.base-text {
  font-size: 1rem;
  color: var(--text);
}
.subtext {
  font-size: 0.9rem;
  color: var(--gray);
}
.blue {
  color: var(--blue);
}
.red {
  color: var(--red);
}
.killswitch-can-disable,
.all-week-can-disable,
.all-day-can-disable {
  transition: opacity var(--duration);
}
.disabled {
  opacity: 0.2;
  pointer-events: none;
}

/* svg logo */
svg path.hourglass {
  fill: none; 
  stroke: var(--bg); 
  stroke-miterlimit: 10; 
  stroke-width: 6px;
}
svg path.sand {
  fill: var(--bg);
}

/**********************/
/* buttons and inputs */
/**********************/

button { 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--blue);
  box-shadow: var(--button-shadow);
  flex-shrink: 0;
  color: var(--bg);
  transition: 
    opacity var(--duration),
    background-color var(--duration);
}
button.delete {
  background-color: var(--gray);
}
button:hover, 
button:focus-visible {
  background-color: var(--blue-highlight);
}
button.delete:hover, 
button.delete:focus-visible {
  background-color: var(--red);
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}


input[type="text"] { /* new website input box */
  height: 30px;
  font-size: 1rem;
  width: 200px;
  padding: 0 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 8px;
  background-color: var(--bg);
  color: var(--text);
}
input[type="text"]::placeholder {
  color: var(--gray);
}

input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
  border: 1px solid var(--blue);
}

/* toggle switch checkbox input */
label.toggle-switch { /* wrapper */
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
  margin-right: 24px; /* 80px width total */
}
label.toggle-switch input[type="checkbox"] { /* hide checkbox */
  width: 0;
  height: 0;
  opacity: 0;
}
.toggle-switch .switch-slider { /* slider-track */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg);
  box-shadow: var(--base-shadow) inset;
  border-radius: 16px;
  overflow: hidden;
  transition: background-color var(--duration);
}
.toggle-switch .switch-slider:before { /* slider-thumb */
  position: absolute;
  content: "";
  height: 24px;
  border-radius: 12px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg);
  box-shadow: var(--switch-shadow);
  transition: transform var(--duration);
}
.toggle-switch input:checked + .switch-slider {
  background-color: var(--blue-highlight);
}
.toggle-switch input:checked + .switch-slider.danger {
  background-color: var(--red);
}

.toggle-switch input:focus-visible + .switch-slider {
  outline: 1px solid black;
}
.toggle-switch input:focus-visible + .switch-slider:before,
.toggle-switch:hover .switch-slider:before {
  transform: translateX(2px);
}

.toggle-switch input:checked + .switch-slider:before {
  transform: translateX(24px);
}

ul { /* used for site lists */
  list-style: none; 
  padding: 0; 
  margin: 0;
}

/*************************/

/*   Dashboard Styles    */

/*************************/

#dashboard-wrap {
  width: 60%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border-radius: 24px;
  overflow: hidden;
  box-shadow: var(--base-shadow);
}
/*******************/
/* blue header bar */
/*******************/
.dash-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 32px;
  background-color: var(--blue);
}
.dash-header h2 {
  color: var(--bg);
}
.dash-header svg {
  width: 32px;
  transform: rotate(180deg);
}
/* settings content */
.dash-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 2rem;
}
/***********************/
/* individual sections */
/***********************/
.section-title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1rem;
}
.section-title .line {
  position: relative;
  top: 2px;
  height: 1px;
  opacity: 0.5;
  flex-grow: 1;
  background-color: var(--blue);
}
p.section-desc {
  margin: 0.5rem 0 1rem 1rem;
}

.flexrow-tight { /* add new section, peek mode wrappers */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.flexrow-loose { /* site list categories */
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flexcol-tight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.left-m-1 {
  margin-left: 1rem;
}

/* limits section */

#dashboard-wrap li { /* website list items */
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
}
li.no-limits-set { /* placeholder in list */
  margin-top: 0.5rem;
}

span.site-name {
  width: 240px;
  overflow: hidden;
}
span.limit-text {
  width: 100px;
}
span.peek-text {
  width: 80px;
}
span.time-left {
  width: 80px;
}

select { /* time limit selectors */
  height: 32px;
  border-radius: 8px;
  width: 100px;
  padding-left: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--gray);
  background-color: var(--bg);
}

/* schedule section */

.schedule-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.day-toggles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  padding: 4px;
  border-radius: 8px;
  height: 24px;
  background-color: var(--bg);
  overflow: hidden;
  box-shadow: var(--base-shadow) inset;
}

.day-toggles > label {
  display: flex;
  height: 24px;
}
.day-toggles > label input[type="checkbox"] { /* hide checkbox */
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}
.day-toggles > label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 24px;
  background-color: var(--bg);
  box-shadow: var(--switch-shadow);
  border-radius: 5px;
  cursor: pointer;
  transition: 
    background-color var(--duration),
    box-shadow var(--duration),
    opacity var(--duration),
    color var(--duration);
}
.day-toggles > label input:checked + span {
  background-color: var(--blue-highlight);
  color: var(--bg);
  box-shadow: var(--base-shadow) inset;
}

.day-toggles > label input:focus-visible + span {
  outline: 1px solid black;
}
.day-toggles > label input:focus-visible + span,
.day-toggles > label input:hover + span {
  opacity: 0.8;
}

footer {
  text-align: center;
}

/*************************/

/*     Popup Styles      */

/*************************/

.popup-header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}
.popup-header h3 {
  color: var(--bg);
}
.popup-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 180px;
  background-color: var(--bg);
}
.status-box {
  display: flex;
  justify-content: space-between;
}
#status {
  color: var(--blue);
}
#status.off {
  color: var(--gray);
}

/*************************/

/* Blocked Screen Styles */

/*************************/

.blocked-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  background: var(--blue);
  gap: 16px;
}
.blocked-wrap svg {
  width: 150px;
  height: 150px;
}
.blocked-wrap h1, 
.blocked-wrap h2,
#peek-message,
#peek-link,
#peek-link:visited {
  color: var(--bg);
}
.blocked-space {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  padding-bottom: 4rem;
}
#peek-message {
  display: none; /* default */
}


/************************/

/*   media queries       */

/*************************/


@media (prefers-color-scheme: dark) {
  html {
    background-color: unset;
  }
  /*:root {
    --text: #FFFFFF;
    --gray: #a4b7b4;
    --bg: #1D1D1D;

    --blue: var(--blue-highlight);
    --base-shadow: 0 2px 12px rgba(0,0,0,0.7);
    --switch-shadow: 0 2px 4px rgba(0,0,0,0.7);
    --button-shadow: 0 1px 4px rgba(0,0,0,0.6);
  }
  .toggle-switch .switch-slider {
    background-color: var(--gray);
  } */
}


@media screen and (max-width: 1400px) {
  #dashboard-wrap {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  #dashboard-wrap {
    width: 100%;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
    overflow: auto;
  }
  .dash-header,
  .dash-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 680px) {
  .flexrow-loose {
    gap: 0.5rem;
  }
  .flexrow-loose.schedule {
    flex-direction: column;
    align-items: flex-start;
  }
  #dashboard-wrap li {
    gap: 0.5rem;
  }
  .base-text {
    font-size: 0.9rem;
  }
  .site-name.base-text { /* names in list */
    font-size: 0.8rem;
  }
  span.site-name {
    width: 180px;
  }
  span.limit-text {
    width: 80px;
  }
  select { /* time limit selectors */
    width: 80px;
    padding-left: 0;
  }
  span.time-left {
    width: 70px;
  }
}
@media screen and (max-width: 600px) {
  span.site-name {
    width: 120px;
  }
}
@media screen and (max-width: 480px) {
  input[type="text"] {
    width: 60%;
    flex-shrink: 1;
  }
}