:root {
  color-scheme: light dark; /* for bg change */

  --blue: #3BC4AB;
  
  --text: #1D1D1D;
  --gray: #939393;
  --bg: #FFFFFF;
  --bg-rgb: 255,255,255;

  --base-shadow: 0 2px 12px rgba(0,0,0,0.3);
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --text: #FFFFFF;
    --gray: #a4b7b4;
    --bg: #1d1d1d;
    --bg-rgb: 29,29,29;

    --base-shadow: 0 2px 12px rgba(0,0,0,0.7);
  }
  .toggle-switch .switch-slider {
    background-color: var(--gray);
  }
}
*/


@font-face {
  font-family: "Plus Jakarta Sans";
  src: url(../assets/font/plus-jakarta-sans-500.woff2) format("woff2");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

#limitless-timer-box {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 130px;
  box-sizing: border-box !important;
  overflow: hidden;
  padding: 24px 0px 16px 0px;
  background-color: rgba(var(--bg-rgb), 0.9);
  border: 2px solid var(--text);
  border-radius: 8px;
  z-index: 999999;
  pointer-events: auto;
  box-shadow: var(--base-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: grab;
  user-select: none;
}
#limitless-timer-box:active {
  cursor: grabbing;
}
#limitless-timer-box #domain-span { 
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-weight: 500;
  color: var(--gray);
  font-size: 0.8rem !important;
  width: 130px;
  text-align: center;
}
#limitless-timer-box h2 { 
  font-size: 2rem !important;
  line-height: 2rem;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-weight: 500;
  color: var(--text);
 }
 #limitless-timer-box h2.flash {
  animation: flash 800ms ease-out forwards;
 }
#limitless-timer-box #timer-span { 
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-weight: 500;
  color: var(--gray);
  font-size: 1rem !important;
}

#limitless-timer-box #close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  padding: 0;
  flex: 0;
  border-radius: 0;
  transition: opacity 150ms;
}
#limitless-timer-box #close-button:hover {
  opacity: 0.5;
}
#limitless-timer-box #close-button svg line {
  stroke: var(--text);
  stroke-width: 2px;
}

@keyframes flash {
  from { color: var(--bg);}
  to { color: var(--text); }
}